.MainOneLeft{
    width: 274px;
}
.MainOneLeft__img{
    width: 50px;
    margin-left: auto;
    margin-right: 120px;
    
}
.MainOneLeft__imgs:hover path{
    fill: coral;
}
.MainOneLeft__span{
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #000000;
display: block;
}
.MainOneLeft__bottom{
    margin-bottom: 50px;
}

