.one__div{
    width: 670px;
}
.one__title{
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
width: 670px;
color: #474747
}
.one__user{
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #777777;
}
@media screen and (max-width:  800px) {
  .one__div{
      width: 320px;
  }
  .one__title{
      width: 320px;
  }
  .one__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
  .one__user{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}