@keyframes open {
    0% {
      transform: translateY(-100%) ;
     z-index: 2;
    }
    100% {
      transform: translateY(0);
    
    }
  }
 
.header__container{
    display: flex;
    align-items: center;
   
}
.header__left{
    width: 436px;
}
.header__logo{
    display: block;
    margin-top: 20px;
}
.header__right{
display: flex;
align-items: center;
}
.header__nav{
 flex-grow: 1;
 margin-top: 15px;
}
.header__list{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.header__item{
    margin-right: 40px;
}
.header__link{
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
text-decoration: none;
transition: .4s ease all;
color: #9A9A9A;
&--active{
    color: #3D3D3D;
    text-decoration: underline;
}
&:hover{
    color: #fa9f18;
    text-decoration: underline;
}
}
.form{
    margin-top: 15px;
    position: relative;
}
.form__input{
    width: 256px;
    padding: 12px 14px;
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
background: #F4F4F4;
border-radius: 3px;

color: #474747;
}
.form__btn{
position: absolute;
right: 0;
top: 0;
bottom: 0;
background: #FFBA9D;
border-radius: 3px;
background-image: url(../../assets/img/lupa.svg);
background-position: center;
background-repeat: no-repeat;
width: 50px;
&:hover{
    background-color: #fa9f18;
}
}
.burger{
    display: none;
    border: none;
    background: none;
    
}
@media screen and (max-width:  800px) {
    .header__container{
        flex-direction: column;
        position: relative;
       
    }
    .header__logo{
        position: absolute;
        display: block;
        left: 15px;
        top: 10px;
        z-index: 3;
    }
    .h__logo{
        width: 120px;
        height: 33px;
        
        
    }
    .burger__div{
        position: absolute;
        top: 40px;
        right: 15px;
        z-index: 3;
    }
  .burger{
     
     display: block;
     width: 24px;
     height: 16px;
     position: relative;
     &::after{
         content: "";
         display: block;
         width: 24px;
         position: absolute;
         height: 1px;
         border: 1px solid #000000;
         bottom: 0;
     }
     &::before{
        content: "";
        display: block;
        position: absolute;
        width: 24px;
        height: 1px;
        border: 1px solid hsl(0, 0%, 0%);
  top: 0;
     }
  }
  .burger__span{
      display: block;
      height: 1px;
      width: 24px;
      border: 1px solid #000;
      
  }
  .burger__close .burger__span{
    display: none;
  }
  .burger__close{
   

    &::after{
        top: 8px;
        transform: rotate(45deg);
    }
    &::before{
        top: 8px;
        transform: rotate(-45deg);
    }
  }
  .header__nav{
      display: none;
  }
  .form{
      width: 100%;
      margin-top: 100px;
  }
  .header__nav--open{
    animation: open .5s linear;
      display: block;
      position: absolute;
      background-color: white;
      z-index: 2;
      width: 320px;
      top: 0;
      left: 0;
      padding-top: 100px;
      padding-bottom: 100px;
  }
  
  .header__list{
      flex-direction: column;
     width: 100%;
  }
  .header__item{
      margin-top: 20px;
      
  }
}